<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/my_profile.css">
    <link rel="stylesheet" href="/css/profile_main_css/contact.css">
    <link rel="stylesheet" href="/css/profile_main_css/description.css">
    <link rel="stylesheet" href="/css/profile_main_css/jobs.css">
    <link rel="stylesheet" href="/css/profile_main_css/market.css">
    <link rel="stylesheet" href="/css/profile_main_css/showcase.css">
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <%- include('../includes/navbar.ejs') %>

    <div class="container-boiler">

        <div class="main">
            <%- body %>
        </div>
        
    </div>
    
</body>
</html>