<div class="contact">
    <input type="text" class="contact_search">
    <div class="group_chat">
        <div class="group_name">JK's fan</div>
        <div class="group_member_number">2 members</div>
    </div>
</div>