<div>
    <img src="../images/pink_flower_2.jpg" alt="">
</div>
<div>
    <img  
    src="https://cdn.fstoppers.com/media/2020/12/17/five_steps_to_incredible_minimalist_photography_04.jpg" 
    alt=""
    >
</div>
<div>
    description
</div>