<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item"><img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download-109713/Stranger-Things-Kawaii-Cave_640.jpg"></div>
    <div class="grid-item"><img src="/images/small_profile.jpg"></div>
    <div class="grid-item"><img src="/images/PInk_flower.jpeg"></div>
    <div class="grid-item"><img src="/images/big_profile.jpg"></div>
    <div class="grid-item"><img src="/images/pink_flower_2.jpg"></div>
    <div class="grid-item"><img src="https://images.unsplash.com/photo-1619922800069-098b291b8f17?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGluayUyMGFlc3RoZXRpY3xlbnwwfHwwfHx8MA%3D%3D"></div>
    <div class="grid-item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCXSiOklTnQMsi7HbdXBthjdnHS1Ud95v2X2tPjuavWuWeCT3BSq77_DJGnY1IRcvGGdU&usqp=CAU"></div>
    <div class="grid-item"><img src="https://wallpapers-max.b-cdn.net/wallpapers/2025/8feb/thumb/beautiful-pink-cherry-blossom-tree-wallpaper.jpg"></div>
    <div class="grid-item"><img src="https://www.pixelstalk.net/wp-content/uploads/images6/Aesthetic-Wallpaper-HD-Sea.jpg"></div> 
    <div class="grid-item"><img src="https://www.pixelstalk.net/wp-content/uploads/images6/Aesthetic-Wallpaper-HD-Pastel-Color.jpg"></div>
    <div class="grid-item"><img src="https://m.media-amazon.com/images/I/81w3ndzJ2bL.png"></div>
    <div class="grid-item"><img src="https://marketplace.canva.com/EAGPtkBF_SE/1/0/900w/canva-pastel-brown-minimalist-aesthetic-photocentric-quotes-phone-wallpaper-iRfIqGrizyM.jpg"></div>
    <div class="grid-item"><img src="/images/pink_house.jpeg"></div>
    <div class="grid-item"><img src="/images/pink_tree.jpeg"></div>
    <div class="grid-item"><img src="/images/basket_ball.jpeg"></div>
    <div class="grid-item"><img src="/images/pink_background.jpeg"></div>
    <div class="grid-item"><img src="https://static.vecteezy.com/system/resources/thumbnails/026/764/391/small/generative-ai-pink-magenta-fantastic-clouds-sky-and-landscape-gentle-colors-and-with-bright-lights-photo.jpg"></div>
    <div class="grid-item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNJJrgaUwCLAUrDQAb4j_4cbC4lszsLWl88A&s"></div>
    <div class="grid-item"><img src="https://img.freepik.com/free-vector/aesthetic-dreamy-background-purple-cloudy-sky-vector-glitter-design_53876-156334.jpg?semt=ais_hybrid&w=740"></div>
    <div class="grid-item"><img src="https://as2.ftcdn.net/v2/jpg/04/90/84/21/1000_F_490842185_Ll9ATc00Cnwqv8AcRGZMPdpoHQYCKJor.jpg"></div>
    

    <!-- Add more .masonry-item blocks as needed -->
  </div>

  <!-- JS libraries -->
  <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script>
    const grid = document.querySelector('.grid');
    imagesLoaded( grid, () => {
      new Masonry( grid, {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        gutter: 16,
        fitWidth: true
      });
    });
  </script> -->